<!doctype html>
<html>
<head>
  <title>Project</title>
</head>
<body>
<h1>Project</h1>
<h2>Log In</h2>
<p>You are not yet logged in to Project Server.</p>
<form action="/login" method="POST">
  <input name="user" type="text" width="40" placeholder="User name"><br>
  <input name="passwd" type="password" width="40" placeholder="Password"><br>
  <input type="submit" name="action" value="Log in"><br>
  <input name="Cuser" type="text" width="40" placeholder="User name"><br>
  <input name="Cpasswd" type="password" width="40" placeholder="Password"><br>
  <input name="Name" type="text" width="80" placeholder="Name"><br>
  <input name="Email" type="text" width="80" placeholder="Email"><br>
  <input type="submit" name="action" value="Create account">
</form>
</body>
</html>
